<div class="content">
    <div class="row outline no-gutters">
        <table class="table table-striped table-hover table-sm">
            <thead>
                <tr><th>Registers</th><th><button class="btn btn-secondary btn-sm">Reset</button></th></tr>
            </thead>
            <tbody>
                <tr>
                    <td><span>A/PSW</span></td>
                    <td><input class="input" size="2" maxlength="2"><input class="input" size="2" maxlength="2"></td>
                </tr>
                <tr>
                    <td><span>BC</span></td>
                    <td><input class="input" size="4" maxlength="4"></td>
                </tr>
                <tr>
                    <td><span>DE</span></td>
                    <td><input class="input" size="4" maxlength="4"></td>
                </tr>
                <tr>
                    <td><span>HL</span></td>
                    <td><input class="input" size="4" maxlength="4"></td>
                </tr>
                <tr>
                    <td><span>SP</span></td>
                    <td><input disabled class="input" size="4" maxlength="4"></td>
                </tr>
                <tr>
                    <td><span>PC</span></td>
                    <td><input disabled class="input" size="4" maxlength="4"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row outline no-gutters">
        <table class="table table-striped table-hover table-sm">
            <thead>
                <tr><th>Flags</th><th><button class="btn btn-secondary btn-sm">Reset</button></th></tr>
            </thead>
            <tbody>
                <tr>
                    <td><span>Z</span></td>
                    <td><input class="" type="checkbox" id="flexCheckDefault"></td>
                </tr>
                <tr>
                    <td><span>S</span></td>
                    <td><input class="" type="checkbox" id="flexCheckDefault"></td>
                </tr>
                <tr>
                    <td><span>P</span></td>
                    <td><input class="" type="checkbox" id="flexCheckDefault"></td>
                </tr>
                <tr>
                    <td><span>CY</span></td>
                    <td><input class="" type="checkbox" id="flexCheckDefault"></td>
                </tr>
                <tr>
                    <td><span>AC</span></td>
                    <td><input class="" type="checkbox" id="flexCheckDefault"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
@code
{

}